body {
    font-family: Arial, sans-serif;
    background: #f6f6f6;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #333;
}

table {
    width: 50%;
    margin: auto;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background: #333;
    color: white;
    font-size: 18px;
}

tr:nth-child(even) {
    background: #f2f2f2;
}

tr:hover {
    background: #ddd;
}

