body {
    font-family: Arial, sans-serif;
    background: #f6f6f6;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #333;
}

table {
    width: 50%;
    margin: auto;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background: #333;
    color: white;
    font-size: 18px;
}

tr:nth-child(even) {
    background: #f2f2f2;
}

tr:hover {
    background: #ddd;
}

details {
    width: 50%;
    margin: 30px auto;
    background: rgb(205, 255, 195);
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

summary {
    font-size: 18px;
    font-weight: bold;
    outline: none;
    list-style: none;
}

summary::webkit-details-marker {
    display: none;
}

summary::after {
    content: "⬇️";
    float: right;
    transition: 0.2s;
}

details[open] summary::after {
    transform: rotate(180deg);
}

details ul {
    margin-top: 15px;
    margin-left: 20px;
    line-height: 1.7;
}
